.header {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.flash-info {
   display: flex;
   align-items: center;
   justify-content: center;
}

footer {
   margin-top: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header h1 {
   color: #2980b9;
   font-size: 40px;
   font-family: Mystery Quest;
}

.input input {
   height: 33px;
   width: 500px;
   border: 3px solid #2980b9;
   margin-block-end: 50px;
   font-size: 20px;
}

.input button {
   height: 41px;
   border: 3px solid black;
   background: #8dcdd2;
   color: black;
   margin: 2px;
   text-transform: uppercase;
}

.homepage .livros {
   display: flex;
   flex-wrap: wrap;
   align-items: strech;
}

.homepage .livros Card {
   width: 90%;
   margin-top: 30px;
   justify-content: space-between;
}

div {
   display: block;
}
